node_modules/
.env
.DS_Store
npm-debug.log

# Ignorer le dossier uploads et son contenu
uploads/*

# Mais garder le dossier lui-même avec un .gitkeep
!uploads/.gitkeep

# Ignorer spécifiquement les sous-dossiers
uploads/pictures/*
!uploads/pictures/.gitkeep
uploads/videos/*
!uploads/videos/.gitkeep